body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
}
.square {
    width: 15px;
    height: 15px;
    border: .02px solid black;
    border-radius: 5px;
}
.square:hover {
    transition: .4s ease;
    background-color: #01fafe;
}
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#resetButton {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}